@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-color-container {
    background-color: #0d2436;

}

.navbar-color {
    background-color: #19232d;
}

.my_projects_heading {
    font-weight: bold;

    font-family: "Bree Serif";
    margin: auto;
    color: #5a7184;
}

.main_paragraph {
    font-family: "Bree Serif";
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 8px;
    color: #616e7c;

}

.advanced_technologyes_image1 {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.diwali_image1 {
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

.heading1 {
    font-family: "Bree Serif";

    color: white;
}

.profile-photo {

    border-radius: 200px;
    height: 30%;
}

.hr-class {
    border: 1px solid red;
    color: #5a7184;
    width: 100%;

}



.google-background {
    background-color: #152c3e;
    border-radius: 40px;
    margin: 10px;
}

.google-img {
    font-size: 25px;
    color: #5a7184;
    padding: 15px;
}
