@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.my_projects_image {
    width: 50%;
    height: 50%;
    margin: auto;
}

.my_projects_heading {
    font-weight: bold;
    font-size: 25px;
    font-family: "Bree Serif";
    margin: auto;
    color: #183b56;
}

.main_paragraph {
    font-family: "Bree Serif";
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 8px;
    color: #616e7c;
}

.advanced_technologyes_image1 {
    height: 30%;
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.diwali_image1 {
    height: 20%;
    width: 40%;
    margin-left: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.meals_image1 {
    height: 30%;
    width: 40%;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 0px;
}

.news_paper_image1 {
    height: 30%;
    width: 40%;
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 0px;
}




.bgcontainer {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;

}

.backgroundcolor {
    background-color: #f6c56e;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;

}

.main-heading {
    font-family: Bree Serif;
    text-align: left;


}

.paragraph {
    font-weight: 600;
    text-align: left;

}

.button {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 7px 21px;
    border-style: none;
    border: 0px;
    font-family: none;
    font-size: 11px;
    text-align: left;
    margin-right: 10px;
}





.title-text {
    color: #5e57ab;
    font-weight: bold;
    font-size: 30px;
    font-family: "Bree Serif";
    margin: 14px;
}

.paragraph-text {
    color: black;
    font-weight: 600;
    font-family: "Roboto";

}

.background-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 100vh;
}

.background-card {
    border-style: none;
    background-color: white;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    text-align: center;
    background-size: cover;

}

.f_button {
    border-radius: 10px;
    height: 35px;
    width: 120px;
    padding: 2px;
    margin: 10px;
}

.s_button {
    border-radius: 10px;
    color: white;
    background-color: #5650a9;
    height: 35px;
    width: 120px;
    padding: 2px;
    margin: 10px;
}


.button-style {
    color: white;
    background-color: #323f4b;
    padding: 5px;
    margin: 10px;
    border-radius: 9px;
    height: 33px;
    width: 110px;
    font-size: 10px;
}

.background-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height: 100vh;
}

.background-card {
    background-color: white;
    background-size: cover;
    padding: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-alig: center;
}

.main-title {
    font-size: 12px;
    padding: 10px;

}

.main-heading {
    font-size: 18px;
    padding: 10px;
}

.paragraph {
    font-size: 12px;
    padding-left: 12px;
}



.bg-container10 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    height: 90vh;

}

.main-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    background-color: #323f4b;
    background-size: cover;
    margin-bottom: 50px;
    height: 50px;
    padding: 10px;
    border: 10px;
    font-weight: 600;

}

.message-text {
    padding: 15px;
    margin: 11px;
}

.message-sent {

    text-align: right;
    background-color: #47a3f3;
    background-size: cover;
    color: white;
    max-width: 93vh;
    height: 7vh;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;




}

.message-recived {
    background-color: #52606d;
    background-size: cover;
    color: #ffffff;
    max-width: 93vh;
    font-size: 15px;
    height: 7vh;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;


}
